<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm" class="form-container">
    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input type="text" [(ngModel)]="formData.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="formData.telefone" name="telefone" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="formData.endereco" name="endereco" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CEP</ion-label>
      <ion-input type="text" [(ngModel)]="formData.cep" name="cep" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="formData.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmação email</ion-label>
      <ion-input type="confirme seu email" [(ngModel)]="formData.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de nascimento</ion-label>
      <ion-input type="date" [(ngModel)]="formData.dataNascimento" name="dataNascimento" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">RG</ion-label>
      <ion-input type="text" [(ngModel)]="formData.rg" name="rg" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input type="text" [(ngModel)]="formData.cpf" name="cpf" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="formData.senha" name="senha" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!cadastroForm.form.valid">
      Confirmar
    </ion-button>
  </form>
</ion-content>
